<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	
	<insert id="insert">
		INSERT INTO product 
			(product_id, product_name, product_price, product_size, product_color, product_main_img, product_detail_img, product_detail, 
			product_category, product_url, product_stock, product_new)
		values
			(product_seq.NEXTVAL, #{product_name}, #{product_price}, #{product_size}, #{product_color}, #{product_main_img}, 
			#{product_detail_img}, #{product_detail}, #{product_category}, #{product_url}, #{product_stock}, #{product_new})
	</insert>
	
	<select id="listPage" resultType="com.team.shop.model.ProductVO" parameterType="com.team.shop.model.SearchCriteria">
		SELECT product_id, product_name, product_price, product_size, product_color, product_main_img, product_detail_img, product_detail, product_category, product_url, product_stock, hit
		FROM (SELECT product_id, product_name, product_price, product_size, product_color, product_main_img, product_detail_img, product_detail, product_category, product_url, product_stock, hit, row_number() OVER(ORDER BY product_id DESC) AS rNum 
		FROM product WHERE 1=1 <include refid="category"></include> AND 1=1 <include refid="search"></include> ) MP
		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd} ORDER BY product_id DESC 
	</select>
	
	<select id="listCount" parameterType="com.team.shop.model.SearchCriteria" resultType="int">
		SELECT COUNT(product_id) FROM product WHERE 1=1 <include refid="category"></include> AND 1=1 <include refid="search"></include> AND product_id > 0
	</select>
	
	<sql id="category">
		<if test="searchType != null">
			AND product_category = #{product_category}
			<if test="searchType == 'y'.toString()">OR product_category IS NOT NULL</if>
		</if>
	</sql>
    
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'y'.toString()">AND product_name LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == null">AND product_name LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
    <select id="read" parameterType="int" resultType="com.team.shop.model.ProductVO">
		SELECT * FROM product WHERE product_id = #{product_id}
	</select>
		
	<update id="update" parameterType="com.team.shop.model.ProductVO">
		UPDATE product
		   SET product_name = #{product_name}, product_price = #{product_price}, product_size = #{product_size}, 
				product_color = #{product_color}, product_main_img = #{product_main_img}, product_detail_img = #{product_detail_img},
				product_category = #{product_category}, product_url = #{product_url}, product_stock = #{product_stock}
		 WHERE product_id = #{product_id} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM product WHERE product_id = #{product_id}
	</delete>
	
	<update id="productHit" parameterType="int">
    	UPDATE product SET hit = hit+1 WHERE product_id = #{product_id}
    </update>
	
	<select id="newItem" resultType="com.team.shop.model.ProductVO">
		SELECT * FROM product WHERE product_new = 1 ORDER BY product_id DESC
	</select>
	
	<select id="bestItem" resultType="com.team.shop.model.ProductVO">
		SELECT * FROM ( SELECT * FROM product ORDER BY hit DESC) WHERE ROWNUM between 1 and 10
	</select>
	
</mapper>