<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	
	<insert id="insert">
		INSERT INTO product 
		(product_id, product_name, product_price, product_size, product_color, product_main_img, product_detail_img, product_detail, product_category, product_url, product_stock)
		values
		(product_seq.NEXTVAL, #{product_name}, #{product_price}, #{product_size}, #{product_color}, #{product_main_img}, #{product_detail_img}, #{product_detail}, #{product_category}, #{product_url}, #{product_stock})
	</insert>
	
	<select id="list" resultType="com.team.shop.model.ProductVO">
		SELECT product_id, product_name, product_price, product_main_img, product_category from product ORDER BY product_id DESC
	</select>
    
    <select id="read" parameterType="int" resultType="com.team.shop.model.ProductVO">
		SELECT	product_id, product_name, product_price, product_size, product_color, product_main_img, product_detail_img, product_url
		FROM product WHERE product_id = #{product_id}
	</select>
</mapper>